.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  max-height: 70px;
  min-height: 70px;
  min-width: 70px;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
