.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  max-height: 70px;
  min-height: 70px;
  min-width: 100px;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
} */

.App-header {
  /* background-color: #222222; */
  /* background-image: linear-gradient(90deg, rgb(41, 41, 41) 0%, rgb(0, 0, 0) 80%); */
  display: flex;
  flex-direction: row;

  justify-content: center;
  border-bottom: 0.5px solid #cacaca34;
}

.Border {
  border-style: solid;
  border-color: rgb(255, 76, 52);
  border-radius: 30px;
  border-width: 2px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Exercise-week {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Exercise-day {
  background-color: #191f27;
  min-height: 10vh;
  min-width: 15vh;
  margin: 7px;
  /* margin-top: 40px; */
  /* height: 100px; */
  line-height: 90px;
  text-align: center;
  border: 2px solid #ff8400;
  /* border-radius: 50px; */
}

.Exercise-day-content {
  background-color: #191f27;
}

/* .Exercise-week {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

 .Exercise-day {
  background-color: #191f27;
  min-height: 10vh;
  min-width: 15vh;
  /* margin: 7px; */
/* margin-top: 40px;
 height: 100px;
  line-height: 90px;
  text-align: center;
  border: 2px solid #ff840096;
   border-radius: 50px;
  
}

.Exercise-day-content {
  font-size: 2vh;
  text-align: center;
  text-indent: 2%;
}

 .Exercise-week {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Exercise-day {
  background-color: #242424;
  min-height: 15vh;
  min-width: 15vh;
  display: flex;
  flex-direction: column;
  font-size: calc(2vh);
 border-color: rgb(255, 76, 52);
 border-radius: 40px;
  margin: 21px;
}

.Exercise-day-content {
  text-indent: -20%;
  text-align: center;
} */
