.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  width: 70px;
  height: 70px;
  max-height: 70px;
  min-height: 70px;
  min-width: 70px;
  pointer-events: none;
}

/* palette: {
  primary: {
    main: "#e84855",
    contrastText: "#ffffff",
  },
  secondary: {
    main: "#393E41",
    contrastText: "#ffffff",
  },
}, */
